html {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

h1, h3, p {
    margin:0;
}

body {
    background-color: #e6eff6;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main{
    display:flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    max-width: 700px;

    height: 500px;
    box-shadow: 0px 0px 76px -17px rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    
}

.top-container {
    padding: 40px;
    flex-basis: 45%;
}
.heading {
    font-size: 1.8rem;
    font-weight: 700;
    color: #2bb3b1;
    
}
.subheading {
    color: #bfdf32;
    margin-top: 20px;
    margin-bottom: 20px;
}
.top-container p{
    color: #8593ab;
    margin-top: 5px;
}

.bottom-container{
    display: flex;
    flex-basis: 55%;
    color: white;
    margin: 0;
}

.bottom-left-container{
    flex-basis: 50%;
    background-color: #2bb3b1;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.cost-container {
    display: flex;
    align-items: center;
    margin: 20px 0px;

}
.cost {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
.cost-frequency {
    margin: 0;
    margin-left: 5px;
    color:#e6eff6;
    opacity: 0.8;

}
button {
    align-self: center;
    width: 100%;
    margin-top: 20px;
    background-color: #bfdf32;
    border: none;
    color: white;
    border-radius: 2px;
    padding: 10px;
    font-family: "Karla", sans-serif;
    box-shadow: 5px 5px 19px 0px rgba(135,135,135,0.5);
    

}
button:hover {
    cursor: pointer;
    background-color: #e3edb6;
    color:#2bb3b1;
    width:80%;

    transition-property: background-color, color, width;
    transition-timing-function: ease-out;
    transition-duration: 1s;

}

.bottom-right-container{
    flex-basis: 50%;
    background-color: #4abebd;
    padding: 40px;
    

}
.why-us-points{
    color:#e6eff6;
    opacity: 0.8;
    padding: 0;
    list-style: none;
}

@media (max-width: 727px) {
    .top-container{
        flex-basis: 35%;
    }

    .bottom-container{
        flex-basis: 65%;
        display: flex;
        flex-direction: column;
        color: white;
        margin: 0;
    }
    
    main{
        background-color: white;
        width: 90%;
        min-width: 286px;
        max-width: none;
        height: 800px;
        box-shadow: 0px 0px 76px -17px rgba(0,0,0,0.5);
        border-radius: 10px;
        overflow: auto;

    }

}